/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(../imagens/fundo.png) repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Wrapper */
#wrapper {
    width: 100%;
    max-width: 85%;
    margin: 0 auto;
}

/* Topo */
#topo {
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#logo img {
    max-height: 150px;
    padding: 10px;
}

/* Menu */
#menu {
    width: 100%;
    background: #3d212a;
    padding: 10px 0;
}

#navegacao {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#navegacao li {
    position: relative;
}

#navegacao a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    display: block;
    border-radius: 10px;
}

#navegacao a:hover,
#navegacao a:focus,
#navegacao a.selected {
    background-color: #ab5973;
    color: #fff;
}

/* Wrapper for content */
#content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

/* Container principal */
#container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 750px;
    margin: 20px 0;
}

/* Lista de Produtos */
.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.product-item {
    width: 200px; 
    padding: 10px;
    text-align: center; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
}

.product-item img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
}

.product-item h1 {
    margin-top: 10px;
    font-size: 14px;
}

.product-item h2 {
    font-size: 12px;
    color: #666;
}
/* Formulário */
.form-container {
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 1px;
}

.form-group textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3d212a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:#ab5973
}

/* Rodapé */
#rodape {
    width: 100%;
    background: #3d212a;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
